<!DOCTYPE html>
<div id="n2-copypost-modal-wrapper">
	<div id="n2-copypost-modal" class="media-modal-content">
		複製元：<p></p>
		<input type="hidden" name="id" value="">
		<div>
			<label for="">つけたい商品名（◯◯定期便の記載不要）</label>
			<input type="text" name="複写後商品名" id="">
		</div>
		<div>
			<label for="">定期便として複製しますか？</label>
			<select name="定期">
				<option value="">定期便ではない</option>
				<option value="2">2回定期便として複製</option>
				<option value="3">3回定期便として複製</option>
				<option value="4">4回定期便として複製</option>
				<option value="5">5回定期便として複製</option>
				<option value="6">6回定期便として複製</option>
				<option value="7">7回定期便として複製</option>
				<option value="8">8回定期便として複製</option>
				<option value="9">9回定期便として複製</option>
				<option value="10">10回定期便として複製</option>
				<option value="11">11回定期便として複製</option>
				<option value="12">12回定期便として複製</option>
			</select>
		</div>
		<div>
			<label for="">内容量・規格等挿入文</label>
			<div>※以下の内容を全◯◯回（月<input type="number" name="同月回数" id="">回）お届けいたします。</div>
		</div>
		<div>
			<label for="">配送期間挿入文</label>
			<div>※初回発送はお申込み翌月の<input type="number" name="初回発送日" id="">日までに発送致します。なお2回目以降も毎月<input type="number" name="毎月発送日" id="">日までに発送致します。</div>
		</div>
		<button type="button">複製する</button>
	</div>