<!DOCTYPE html>
<div id="n2-copypost-modal-wrapper">
	<div id="n2-copypost-modal" class="media-modal-content">
		<p></p>
		<input type="hidden" name="id" value="">
		<select name="定期">
			<option value="">定期便ではない</option>
			<option value="2">2回定期便として複製</option>
			<option value="3">3回定期便として複製</option>
			<option value="4">4回定期便として複製</option>
			<option value="5">5回定期便として複製</option>
			<option value="6">6回定期便として複製</option>
			<option value="7">7回定期便として複製</option>
			<option value="8">8回定期便として複製</option>
			<option value="9">9回定期便として複製</option>
			<option value="10">10回定期便として複製</option>
			<option value="11">11回定期便として複製</option>
			<option value="12">12回定期便として複製</option>
		</select>
		<button type="button">複製する</button>
	</div>
</div>
