<!DOCTYPE html>
<div id="n2-setpost-rakuten-tagid">
	<button type="button" class="close"><span class="close-icon"><span class="screen-reader-text">ダイアログを閉じる</span></span></button>
		<h2>楽天全商品タグID検索（複数選択）</h2>
		<div class="tags-wrapper">
			<div class="groups">
				<!-- ここにJSで選択肢を追加していく -->
			</div>
			<div class="tags">
				<!-- ここにJSで選択肢を追加していく -->
			</div>
		</div>

		<div class="result">
			タグID:<span>指定なし</span>
		</div>
		<div class="buttons">
			<button type="button" class="done">ID決定</button>
			<button type="button" class="clear">クリア</button>
		</div>
</div>
