html,body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "游ゴシック体","Yu Gothic","YuGothic","ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ" ,"Meiryo" ,"Osaka","ＭＳ Ｐゴシック","MS PGothic","sans-serif";
	font-size: 10px;
}
body{
	padding: 0 5px;
	box-sizing: border-box;
}
h1{
	font-size: 18px;
	text-align: left;
	margin: 0 20px 0 0;
	
}
.page-break{
	page-break-after: always;
}
.page-break:last-child{
	page-break-after: avoid;
}
table{
	border-collapse: collapse;
	margin: 5px 0;
	width: 100%;
	box-sizing: border-box;
}
th{
	width: 70px;
}
th,td{
	border: 1px solid #000;
	padding: 5px;
	text-align: center;
	// text-align: left !important;
	// text-align: center !important;
}
.bg{
	background: #eee !important;
	-webkit-print-color-adjust: exact;
}
.none{
	border: none;
}
@media print {
	.checkbox-wrapper {
		display: none;
	}
}
.longtxt{
	display: inline-block;
	text-align: left;
}
// dev用
// .test{
// 	background-color: darkgray;
// }
.button-wrapper{
	padding-top: 4px;
}