// $primary: #ccc;
@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/close";

$prefix: "n2-postlist";

.n2-code-selectbox {
	float: left;
	position: relative;
	width: 100px;
	height: 26px;
	margin-right: 6px;

	select[name="返礼品コード[]"] {
		position: absolute;
		top:0;
		left:0;
		z-index: 999;
		cursor: pointer;
		display: none;
		width:100%;
	}
}

.n2-jigyousya-selectbox {
	float: left;
	position: relative;
	width: 200px;
	height: 26px;
	margin-right: 6px;

	select[name="事業者[]"] {
		position: absolute;
		top:0;
		left:0;
		z-index: 999;
		cursor: pointer;
		width:100%;
	}
}

.#{$prefix} {
	&-imgicon {
		width: 25px;
		height: 25px;
		object-fit: cover;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			transform: scale(5, 5);
		}
	}

	&-ssmemo {
		position: relative;

		&::after {
			font-family: "dashicons";
			content: "\f473";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 0);
			cursor: pointer;
			color: #1a4899;
			font-size: 24px;
			line-height: 100%;
		}

		&:hover {
			&>p {
				display: block;
			}
		}

		p {
			display: none;
			position: absolute;
			top: 20px;
			left: -40px;
			z-index: 100;
			padding: 8px;
			font-size: 20px;
			background-color: #fff;
			border: solid 1px #1a4899;

			&:hover {
				display: block;
			}
		}
	}
}

.wp-list-table>thead {
	tr>th {
		text-align: center;
	}
}

#the-list {
	td,th {
		padding: 4px;
		vertical-align: middle;
	}
	.no-code{
		color: $danger;
	}
}
.tablenav.bottom{
	.tablenav-pages{
		float: none;
	}
}
#n2-copypost-modal,
#n2-update-status-modal,
#n2-change-author-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 10000;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
	background-color: #fff;

	&-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100000;
		background-color: rgba(0, 0, 0, 0.7);
	}
}
#n2-copypost-modal {
	height: 30%;
	.copypost-caution{
		color: #930000;
	}
}
.wp-core-ui {
	.button {
		&.not-click {
			pointer-events: none;
			user-select: none;
			background-color: rgba(34, 113, 177, 0.5);

			&::after {
				content: "";
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
				height: 1em;
				background-color: #c80000;
				background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #930000), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #930000), color-stop(.75, #930000), color-stop(.75, transparent), to(transparent));
				background-size: 70px 70px;
				color: #fff;
				text-align: center;
				font-size: 15px;
				animation: bg 1s linear infinite;
			}
		}
	}
}

.wp-list-table {
	.column-item-title {
		width: 22%;
		min-width: 200px;
	}

	.column-poster {
		width: 15%;
		min-width: 100px;
	}
}

@keyframes bg {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 70px;
	}
}

@keyframes huwahuwa {
	0% {
		color: white;
	}

	50% {
		color: rgba(255, 255, 255, .5);
	}

	100% {
		color: white;
	}
}

.loading_background {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .5);
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-items: center;
	display: none;
	z-index: 9999;

	&.active {
		display: flex;
	}

	#text_loading {
		font-size: 2em;
		color: #000;
		width: 100%;
		text-align: center;
	}

	.progressbar {
		display: block;
		width: 0%;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: 2em;
		height: 2em;
		background-color: #c80000;
		background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #930000), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #930000), color-stop(.75, #930000), color-stop(.75, transparent), to(transparent));
		background-size: 70px 70px;
		text-align: center;
		animation: bg 1s linear infinite;
	}
}

@media screen and (max-width: 768px) {

	// tableのレスポンシブ対応
	tbody#the-list>tr.is-expanded>td:not(.hidden) {
		border-bottom: solid 1px lightgray;
		overflow: visible !important;
		display: flex !important;
		justify-content: end;

		div {
			width: 50%;
		}

		.n2-list-tooles ul {
			display: block;
			position: relative;
		}

		.n2-list-tooles .dropdown-toggle {
			display: none;
		}
	}

	tbody#the-list>tr.is-expanded>td.ssmemo {
		display: none !important;
	}

	.n2-postlist {
		&-imgicon {
			width: 25px;
			height: 25px;
			object-fit: cover;
			cursor: pointer;
			transition: 0.2s;

			&:hover {
				transform: none;
			}
		}
	}

	#wpbody .subsubsub {
		text-align: left;

		.all,
		.publish,
		.draft,
		.pending {
			display: none;
		}
	}
}

// 投稿IDの保存UI
#n2-checked-posts{
	$header-bg: rgb(0, 88, 22);
	position: fixed;
	bottom: 50px;
	right: 10px;
	background: white;
	transition: all .3s;
	z-index: 99999999999999;
	animation: rightIn .3s;
	@keyframes rightIn {
		0%{
			transform: translateX(1000px);
		}
		100%{
			transform: translateX(0);
		}
	}
	&-header{
		background: $header-bg;
		color: white;
		box-shadow: 0 10px 30px -10px #000;
		padding: 1em 2em;
		animation: flashing 1s linear infinite;
		@keyframes flashing {
			0%{
				opacity: .7;
			}
			50%{
				opacity: 1;
			}
			100%{
				opacity: .7;
			}
		}
		.dashicons{
			display: none;
		}
	}
	&-actions{
		display: none;
	}
	&-content{
		display: none;
	}
	&-toggler{
		cursor: pointer;
		padding: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	&.is-active{
		#n2-checked-posts{
			&-header{
				position: fixed;
				top: 50px;
				left: 50px;
				right: 50px;
				z-index: 2;
				box-shadow: none;
				padding: 0 2em;
				line-height: 3rem;
				animation: none;
				.dashicons{
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					height: 3rem;
					width: 3rem;
					line-height: 3rem;
					color: white;
					cursor: pointer;
					transition: all .3s;
					&:hover{
						background-color: darken( $header-bg, 5% );
					}
				}
			}
			&-actions{
				display: inline-block;
				margin: 0 1em;
				li{
					display: inline-block;
					cursor: pointer;
					position: relative;
					margin: 0;
					padding: 0 1em;
					&:hover{
						background-color: darken( $header-bg, 5% );
						.childs{
							display: block;
							position: absolute;
							left: 0;
							background-color: darken( $header-bg, 5% );
							white-space: nowrap;
							padding: 3em;
							cursor: initial;
							line-height: 2;
							label{
								line-height: 1em;
								padding: 1em;
							}
							button{
								background-color: rgba(255,255,255,.9);
								color: darken( $header-bg, 5% );
								width: 100%;
								display: block;
								cursor: pointer;
								padding: .5em 1em;
								line-height: 2;
								&:hover{
									background-color: white;
								}
							}
						}
					}
				}
				button{
					border: none;
					outline: none;
					background: none;
					color: white;
					line-height: 3rem;
					cursor: pointer;
					padding: 0 1em;
				}
				.childs{
					display: none;
				}
			}
			&-content{
				position: fixed;
				top: 50px;
				left: 50px;
				right: 50px;
				bottom: 50px;
				z-index: 1;
				padding-top: 3rem;
				background: white;
				color: black;
				display: block;
				overflow: auto;
				white-space: nowrap;
				table{
					border: none;
				}
				th,td{
					font-size: .9em;
					vertical-align: middle;
					.dashicons{
						color: red;
						cursor: pointer;
						font-size: initial;
						height: auto;
						width: auto;
					}
				}
			}
			&-toggler{
				position: fixed;
				background: rgba(0,0,0,.5);
			}
		}
	}
}