body.n2-darkmode{
	filter: invert(100%);
	img{
		filter: invert(100%);
	}
}
.post-type-post{
	#editor {
		.edit-post{
			&-header{
				.edit-post-header-toolbar__inserter-toggle,
				.editor-history__redo,
				.editor-history__undo,
				.components-dropdown{
					display: none;
				}
			}
			&-visual-editor{
				position: sticky;
				top: 0;
				z-index: 9999;
				box-shadow: 0 1px 10px #ccc;
				&__post-title-wrapper{
					margin: 0;
					padding: 0.2em;
					h1{
						font-size: 1.2rem;
						margin: 0;
						max-width: 100%;
						@keyframes bikabika {
							0% {
								opacity: 0;
							}
							50%{
								opacity: 1;
							}
							100% {
								opacity: 0;
							}
						}
						[data-rich-text-placeholder]{
							animation: bikabika .5s infinite;
						}
					}
				}
			}
			&-editor__list-view-panel{
				min-width: 200px;
			}
		}
		.wp-block-post-content{
			display: none;
		}
		.postbox{
			&#スチームシップ用{
				table{
					background-color: #efefef;
				}
			}
			.postbox-header{
				display: none;
			}
			.inside{
				padding: 0;
				margin: 0;
				::placeholder{
					color: #ccc;
				}
				table{
					th,td{
						color: #333;
						font-size: 1rem;
						padding: 1em;
						border-top: 1px solid #ccc;
					}
					th{
						width: 17em;
					}
				}
			}
		}
		.interface-interface-skeleton{
			&__body{
				padding: 0;
			}
			&__sidebar{
				.edit-post-sidebar__panel-tabs,
				.components-panel__body-title{
					display: none;
				}
			}
			&__footer{
				display: none;
			}
		}
	}
}