/* Bootstrap
	変数をいじりたい場合はこんな感じ
	=====
	$primary: #ccc;
	@use "bootstrap/scss/bootstrap.scss";
	=====
	cssで@useした方がコンパイルが爆速
*/
// @use "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
$steamship: #1a4899;
@import "bootstrap/scss/bootstrap.scss";
body.n2-darkmode{
	filter: invert(100%);
	img{
		filter: invert(100%);
	}
}
.edit-post-visual-editor h1 {	
	font-family: var(--n2-clear-font-family);
}
.post-type-post{
	#wpadminbar{
		display: none;
	}
	#wpbody{
		padding: 0;
	}
	#editor {
		.edit-post{
			&-header{
				// 不要な要素削除
				.edit-post-header-toolbar__inserter-toggle,
				.editor-history__redo,
				.editor-history__undo,
				.components-dropdown,
				.editor-post-preview{
					display: none;
				}
				.components-button{
					box-shadow: none !important;
				}
				.edit-post-fullscreen-mode-close_site-icon{
					width: auto;
					margin-right: 1em;
				}
				.components-button.edit-post-fullscreen-mode-close{
					display: block;
					height: 100%;
					background: none;
					color: black;
					&::before{
						box-shadow: none;
					}
				}
				.interface-pinned-items{
					margin: 0;
				}
				// ヘッダー右の設定ボタン郡
				&__settings{
					flex-wrap: nowrap;
					white-space: nowrap;
					overflow-x: scroll;
					scrollbar-width: none;
					&::-webkit-scrollbar{
						display:none;
					}
					button{
						display: none;
					}
					.interface-pinned-items{
						button{
							display: block;
						}
					}
					#n2-save-post {
						margin-right: 1em;
					}
					#n2-delete-post	{
						display: none!important;
					}
				}
				&-toolbar__left{
					gap: .5em;
					padding: 0;
				}
				#n2-save-as-pending{
					background-color: $steamship;
					border-color: $steamship;
					transition: all .3s;
					&:hover{
						background-color: darken($steamship, 10%);
					}
				}
			}
			&-visual-editor{
				position: sticky;
				top: 0;
				z-index: 9999;
				box-shadow: 0 1px 10px #ccc;
				.block-editor-block-contextual-toolbar{
					display: none;
				}
				&__post-title-wrapper{
					margin: 0;
					padding: 0.2em;
					h1{
						font-size: 1.2rem;
						margin: 0;
						max-width: 100%;
						@include media-breakpoint-down(sm) {
							font-size: 1rem;
						}
						@keyframes bikabika {
							0% {
								opacity: 0;
							}
							50%{
								opacity: 1;
							}
							100% {
								opacity: 0;
							}
						}
						[data-rich-text-placeholder]{
							animation: bikabika .5s infinite;
						}
					}
				}
			}
			&-editor__list-view-panel{
				min-width: 200px;
			}
		}
		.wp-block-post-content{
			display: none;
		}
		.postbox{
			&#スチームシップ用{
				.n2-fields{
					background-color: #efefef;
				}
			}
			.postbox-header{
				display: none;
			}
			.inside{
				padding: 0;
				margin: 0;
				::placeholder{
					color: #ccc;
				}
			}
		}
		.interface-interface-skeleton{
			top: 0;
			@include media-breakpoint-down(sm) {
				&.is-sidebar-opened{
					.interface-interface-skeleton{
						&__body{
							position: relative;
						}
						&__content{
							position: absolute;
							bottom: 300px;
							top: 0;
							left: 0;
							right: 0;
						}
						&__sidebar{
							top: auto;
							height: 300px;
							box-shadow: 0 10px 20px;
						}
					}
				}
			}
			&__body{
				padding: 0;
			}
			&__sidebar,&__secondary-sidebar{
				border: none;
				.interface-complementary-area{
					width: auto;
					height: 100%;
					overflow: hidden;
				}
				.edit-post-sidebar__panel-tabs,
				.components-panel__header,
				.components-panel__body-title,
				.components-panel__body{
					display: none;
				}
				.components-panel{
					height: 100%;
					background: #efefef;
					padding-left: 3px;
					position: relative;
					cursor: ew-resize;
					&.is-resizing{
						&::before{
							content: "";
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							background-color: rgba(0,0,0,.2);
						}
					}
					&:hover{
						background: #555 !important;
					}
					@include media-breakpoint-down(sm) {
						padding-left: 0;
					}
					#n2-hypernavi{
						min-width: 100%;
						height: 100%;
						z-index: 1;
						max-width: 80vw;
						min-width: 300px;
						width: 803px;
						@include media-breakpoint-down(sm) {
							max-width: 100%;
							min-width: 100%;
						}
					}
				}
			}
			&__notices{
				display: none;
			}

		}
	}
	.media-sidebar{
		.description,.setting{
			display: none;
			&[data-setting="description"]{
				display: block;
				> * {
					display: block;
					margin: 0;
					float: none;
					text-align: left;
					width: 100%;
				}
			}
		}
	}
	&.administrator {
		#editor{
			.interface-interface-skeleton__sidebar{
				.components-panel{
					background: linear-gradient(45deg, rgba(139,0,0,0.9), rgba(139,0,0,0.8)), url(https://www.suruga-ya.jp/database/pics_light/game/g8868169.jpg);
					background-size: cover;
				}
			}
		}
	}
}
