// $primary: #ccc;
@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required
$bp: 782px;
.page-title-action{
	@media screen and (max-width: $bp) {
		display: block;
		text-align: center;
	}
}
.subsubsub{
	.draft *{
		color: $secondary !important;
	}
	.pending *{
		color: $danger !important;
	}
	.publish *{
		color: $primary !important;
	}
	.registered *{
		color: $success !important;
	}
	.private *{
		color: $dark !important;
	}
	@media screen and (max-width: $bp) {
		width: 100%;
		overflow-x: scroll;
		white-space: nowrap;
		font-size: .8rem;
	}
}
.tablenav{
	&.top{
		@media screen and (max-width: $bp) {
			display: none;
		}
	}
	&.bottom{
		.tablenav-pages{
			float: none;
		}
		@media screen and (max-width: $bp) {
			margin: 0;
		}
	}
}

#posts-filter{
	.search-box{
		@media screen and (max-width: $bp) {
			#search-submit{
				display: none;
			}
		}
	}
	.wp-list-table{
		width: 100%;
		table-layout: auto;
		thead{
			position: sticky;
			top: 32px;
			background-color: white;
			z-index: 100;
			@media screen and (max-width: $bp) {
				top: 0;
			}
		}
		tr.hentry{
			position: relative;
			background: white;
			$transparent: 0.1;
			// ステータス
			&.status-draft{
				background: linear-gradient(to right, $secondary 7px, rgba($secondary, $transparent) 7px, rgba($secondary, $transparent) 25%, white 25%);
			}
			&.status-pending{
				background: linear-gradient(to right, $danger 7px, rgba($danger, $transparent) 7px, rgba($danger, $transparent) 50%, white 50%);
			}
			&.status-publish{
				background: linear-gradient(to right, $primary 7px, rgba($primary, $transparent) 7px, rgba($primary, $transparent) 75%, white 75%);
			}
			&.status-registered{
				background: linear-gradient(to right, $success 7px, rgba($success, $transparent) 7px, rgba($success, $transparent) 100%);
			}
			&.status-private{
				background: linear-gradient(to right, $dark 7px, rgba($dark, 0.4) 7px, rgba($dark, 0.4) 100%);
			}
			// N2的準備OKフラグ
			&.n2-ready{
				.n2-admin-post-list-tool-open{
					color: rgba($success, 0.7);
					&:hover{
						color: $success;
					}
				}
			}
		}
		.check-column{
			@media screen and (max-width: $bp) {
				input{
					margin: 0 0 0 .75em;
				}
			}
		}
		td,th {
			padding: 4px;
			vertical-align: middle;
			background-color: transparent;
			border-bottom: 1px solid #c3c4c7;
		}
		th{
			white-space: nowrap;
			text-align: center;
			font-weight: normal;
			a{
				display: flex;
				justify-content: center;
				padding: .5em 0;
			}
			&.column-code{
				@media screen and (max-width: $bp) {
					display: table-cell;
				}
			}
		}
		td{
			text-align: center;
			a{
				outline: none;
				box-shadow: none;
			}
			&::before{
				display: none;
			}
			&.title{
				text-align: left;
				padding-left: 2rem;
				position: relative;
				strong{
					font-size: 0;
					line-height: 0;
					.row-title,span:not([class]){
						line-height: 1.5;
						font-size: .85rem !important;
						font-weight: normal;
						overflow: hidden;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						@media screen and (max-width: $bp) {
							display: block;
						}
					}
				}
				.locked-info{
					img{
						border-radius: 1em;
					}
				}
				.n2-admin-post-list-tool-open{
					color: #ccc;
					&::before{
						bottom: 0;
						content: "\f107";
						font-family: dashicons;
						font-size: 1.3rem;
						left: 0;
						position: absolute;
						top: 0;
						width: 2rem;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						animation: zoomIn .3s;
						@keyframes zoomIn{
							0%{
								transform: scale(0);
							}
							80%{
								transform: scale(1.3);
							}
							100%{
								transform: scale(1);
							}
						}
					}
					&:hover{
						color: $dark;
					}
				}
			}
			&.modified{
				line-height: 1.2;
				white-space: nowrap;
			}
			&.code{
				white-space: nowrap;
				@media screen and (max-width: $bp) {
					display: table-cell;
				}
			}
			&.thumbnail{
				img{
					width: 50px;
					display: block;
					border-radius: .5em;
				}
				.empty-thumbnail{
					width: 50px;
					height: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}

			&.author{
				a{
					text-align: left;
					overflow: hidden;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
				}
			}
			&.price,&.donation-amount{
				text-align: right;
				white-space: nowrap;
			}
		}
	}
}
// unko Safari Hack
body.is_safari{
	#posts-filter .wp-list-table tr{
		$transparent: 0.1;
		&.hentry.status-draft{
			th {
				border-left: 7px solid $secondary;
			}
			background: rgba($secondary, $transparent);
		}
		&.status-pending{
			th{
				border-left: 7px solid $danger;
			}
			background: rgba($danger, $transparent);
		}
		&.status-publish{
			th{
				border-left: 7px solid $primary;
			}
			background: rgba($primary, $transparent);
		}
		&.status-registered{
			th{
				border-left: 7px solid $success;
			}
			background: rgba($success, $transparent);
		}
		&.status-private{
			th{
				border-left: 7px solid $dark;
			}
			background-color: rgba($dark, $transparent);
		}
	}
}

// 投稿IDの保存UI
#n2-checked-posts{
	$header-bg: rgb(0, 88, 22);
	position: fixed;
	bottom: 50px;
	right: 10px;
	background: white;
	transition: all .3s;
	z-index: 99999999999999;
	animation: rightIn .3s;
	@keyframes rightIn {
		0%{
			transform: translateX(1000px);
		}
		100%{
			transform: translateX(0);
		}
	}
	&-header{
		background: $header-bg;
		color: white;
		box-shadow: 0 10px 30px -10px #000;
		padding: 1em 2em;
		animation: flashing 1s linear infinite;
		@keyframes flashing {
			0%{
				opacity: .7;
			}
			50%{
				opacity: 1;
			}
			100%{
				opacity: .7;
			}
		}
		.dashicons{
			display: none;
		}
	}
	&-actions{
		display: none;
	}
	&-content{
		display: none;
	}
	&-toggler{
		cursor: pointer;
		padding: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	&.is-active{
		#n2-checked-posts{
			&-header{
				position: fixed;
				top: 50px;
				left: 50px;
				right: 50px;
				z-index: 2;
				box-shadow: none;
				padding: 0 2em;
				line-height: 3rem;
				animation: none;
				.dashicons{
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					height: 3rem;
					width: 3rem;
					line-height: 3rem;
					color: white;
					cursor: pointer;
					transition: all .3s;
					&:hover{
						background-color: darken( $header-bg, 5% );
					}
				}
			}
			&-actions{
				display: inline-block;
				margin: 0 1em;
				li{
					display: inline-block;
					cursor: pointer;
					position: relative;
					margin: 0;
					padding: 0 1em;
					&:hover, &.is-hover{
						background-color: darken( $header-bg, 5% );
						.childs{
							display: block;
							position: absolute;
							left: 0;
							background-color: darken( $header-bg, 5% );
							white-space: nowrap;
							padding: 3em;
							cursor: initial;
							line-height: 2;
							label{
								line-height: 1em;
								padding: 1em;
							}
							button{
								background-color: rgba(255,255,255,.9);
								color: darken( $header-bg, 5% );
								width: 100%;
								display: block;
								cursor: pointer;
								padding: .5em 1em;
								line-height: 2;
								&:hover{
									background-color: white;
								}
							}
						}
					}
				}
				button{
					border: none;
					outline: none;
					background: none;
					color: white;
					line-height: 3rem;
					cursor: pointer;
					padding: 0 1em;
				}
				.childs{
					display: none;
				}
				input{
					line-height: 1;
				}
			}
			&-content{
				position: fixed;
				top: 50px;
				left: 50px;
				right: 50px;
				bottom: 50px;
				z-index: 1;
				padding-top: 3rem;
				background: white;
				color: black;
				display: block;
				overflow: auto;
				white-space: nowrap;
				table{
					border: none;
				}
				th,td{
					font-size: .9em;
					vertical-align: middle;
					.dashicons{
						color: red;
						cursor: pointer;
						font-size: initial;
						height: auto;
						width: auto;
					}
				}
			}
			&-toggler{
				position: fixed;
				background: rgba(0,0,0,.5);
			}
		}
	}
}

// 投稿一覧のツール
#n2-admin-post-list-tool{
	border: 0;
	padding: 0;
	overflow-y: scroll;
	height: 80vh;
	width: 60vw;
	text-align: left;
	box-shadow: 0 10px 50px -10px;
	&.draft{
		border-left: 7px solid $secondary;
		#n2-admin-post-list-tool-header{
			background-color: $secondary;
		}
	}
	&.pending{
		border-left: 7px solid $danger;
		#n2-admin-post-list-tool-header{
			background-color: $danger;
		}
	}
	&.publish{
		border-left: 7px solid $primary;
		#n2-admin-post-list-tool-header{
			background-color: $primary;
		}
	}
	&.registered{
		border-left: 7px solid $success;
		#n2-admin-post-list-tool-header{
			background-color: $success;
		}
	}
	&.private{
		border-left: 7px solid $dark;
		#n2-admin-post-list-tool-header{
			background-color: $dark;
		}
	}
	&.trash{
		#n2-admin-post-list-tool-header{
			background-color: black;
		}
	}
	@media screen and (max-width: $bp) {
		width: 90vw;
		height: 90vh;
	}
	&-header{
		position: sticky;
		top: 0;
		display: flex;
		justify-content: space-between;
		ul{
			margin: 0;
			color: white;
			li{
				display: inline-block;
				padding: 0 1em;
				line-height: 3rem;
				margin: 0;
				cursor: pointer;
				&:hover{
					background-color: rgba(0,0,0,.3);
				}
				.dashicons{
					line-height: 3rem;
				}
			}
		}
	}
	&-content{
		word-break: break-all;
		&-required{
			position: sticky;
			bottom: 0;
			padding: 1em;
			color: $danger;
			font-weight: bold;
			font-size: 1.2em;
		}
		&-imgs{
			display: flex;
			flex-wrap: nowrap;
			overflow-x: scroll;
		}
		table th{
			white-space: nowrap;
		}
	}
	&-close{
		color: #fff !important;
		cursor: pointer;
		display: block;
		height: 3rem;
		line-height: 3rem;
		position: absolute;
		right: 0;
		top: 0;
		transition: all .3s;
		width: 3rem;
		&:hover{
			background: rgba(0,0,0,0.2);
		}
	}
}