#ss-cabinet {
	position: relative;
	#ss-cabinet-images {
		&.loading {
			animation: loading 3s infinite;
		}
		.card { /* Bootstrapを上書き */
			width: 18rem;
			max-width: 160px;
			padding: 0.5rem 0.7rem 1rem;
			.card-img-top {
				height: 136px;
				width: 136px;
				object-fit: contain;
				object-position: 50% 25%;
			}
			.card-img-overlay {
				background: #0008;
				color: #fff;
				top: unset;
				right: 0.2rem;
				bottom: 0.4rem;
				left: 0.2rem;
				padding: 0.5rem;
			}
			.card-header {
				background-color: transparent;
				border-bottom: none;
				padding: .2rem;
				.card-text {
					font-size: .5rem;
					&:after {
						content: "KB";
					}
				}
			}
			.card-text {
				text-wrap: nowrap;
			}
		}
	}
	#ss-cabinet-lists{
		thead {
			th {
				&:has( > i) {
					cursor: pointer;
				}
			}
		}
		td {
			font-size: 0.8rem;
		}
		tr td:nth-of-type(4) {
			&:after {
				content: "KB";
			}
		}
		img {
			height: 28px;
			object-fit: contain;
			width: 50px;
		}
	}
	.tree {/*親要素*/
		position: relative;
		background: white;
		padding: 10px;
		font-size: .85rem;
		font-weight: 400;
		line-height: 1.5;
		color: #212529;
		& ul {
			padding-left: 5px;
			list-style: none;
			& li {
				position: relative;
				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 10px;
				box-sizing: border-box;
				margin-bottom: 0px;
				& .bi {
					padding-right: 5px;
				}
				& .folder-open {
					& > input {
						display: none;
					}
				}
				&.hasChildren{
					& > label {
						&:before{
							content: '';
							position: absolute;
							width: 8px;
							height: 8px;
							border: 2px solid #000;
							border-left: none;
							border-top: none;
							top: 15px;
							left: -3px;
							transform: translate(-50%,-50%) rotate(-45deg);
							transition: .2s;					
						}
						&:has( input:checked ):before {
							transform: translate(-50%,-50%) rotate(45deg);
						}
					}
				}
				&:last-child:after {/*これ以下は別フォルダになる事を明示する為、少しだけ離す*/
					height: 15px;
				}
			}
		}
		& span {/*ファイル名部分*/
			cursor: pointer;
			&.active {
				background-color: #00f2;
			}
			
		}
	}
	@media (min-width: 576px){
		.modal-dialog {
			max-width: 700px;
			width: fit-content;
		}
	}
	.modal-body {
		margin: auto;
	}
	.dragable-area {
		border-style: dashed!important;
	}
	.navbar {
		z-index: 20;
	}

	input:not(:checked) + .radio-icon {
		display: inline-block;
	}
	.radio-icon{
		display: none;
	}
	#current-direcotry {
		&::after {
			content: ':';
		}
	}
	#file-count {
		text-wrap : nowrap;
		&::before {
			content: "全";
		}
		&::after {
			content: "件";
		}
	}
}

@keyframes loading {
	0%, 100% {
		background-color: #fff;
	}
	50% {
		background-color: #0002;
	}
}