// N2 SYNC画面用CSS
#n2sync{
	display: none;
	&.is-active {
		display: block;
		opacity: 1;
		animation: fadeIn 1s;
		@keyframes fadeIn {
			0%{
				opacity: 0;
			}
			100%{
				opacity: 1;
			}
		}
	}
	&-loading{
		display: block;
		visibility: visible;
		position: fixed;
		top: 50%;
		left: 50%;
		&.is-active{
			visibility: hidden;
		}
	}
}