// ユーザープロフィールから消したい項目をここに書き加えていく。
#your-profile .user-rich-editing-wrap, /* ビジュアルエディター */
#your-profile .user-syntax-highlighting-wrap, /* シンタックスハイライト */
#your-profile .user-admin-color-wrap, /* 管理画面の配色 */
#your-profile .user-comment-shortcuts-wrap, /* キーボードショートカット */
#your-profile .user-language-wrap, /* 言語 */
#your-profile .user-url-wrap, /* サイト */
#your-profile .user-description-wrap, /* プロフィール情報 */
#your-profile .user-profile-picture, /* プロフィール写真 */
#your-profile h2 {
	display: none;
}
.user-portal_site_display_name-wrap {
	position: relative;
}
.no-display-name {
	position: absolute;
    top: 3rem;
    font-size: .8rem;
    font-weight: normal;
    color: #8b0000;
    left: 0;
}