/* Bootstrap
	変数をいじりたい場合はこんな感じ
	=====
	$primary: #ccc;
	@use "bootstrap/scss/bootstrap.scss";
	=====
	cssで@useした方がコンパイルが爆速
*/
// @use "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
$steamship: #1a4899;
@import "bootstrap/scss/bootstrap.scss";
body.n2-darkmode{
	filter: invert(100%);
	img{
		filter: invert(100%);
	}
}
.post-type-post{
	#wpadminbar{
		display: none;
	}
	#wpbody{
		padding: 0;
	}
	#editor {
		.edit-post{
			&-header{
				// 不要な要素削除
				.edit-post-header-toolbar__inserter-toggle,
				.editor-history__redo,
				.editor-history__undo,
				.components-dropdown,
				.editor-post-preview{
					display: none;
				}
				.components-button{
					box-shadow: none !important;
				}
				.edit-post-fullscreen-mode-close_site-icon{
					width: auto;
					margin-right: 1em;
				}
				.components-button.edit-post-fullscreen-mode-close{
					display: block;
					height: 100%;
					background: none;
					color: black;
					&::before{
						box-shadow: none;
					}
				}
				.interface-pinned-items{
					margin: 0;
				}
				// ヘッダー右の設定ボタン郡
				&__settings{
					flex-wrap: nowrap;
					white-space: nowrap;
					overflow-x: scroll;
					scrollbar-width: none;
					&::-webkit-scrollbar{
						display:none;
					}
					button{
						display: none;
					}
				}
				&-toolbar__left{
					gap: .5em;
					padding: 0;
				}
				#n2-save-as-pending{
					background-color: $steamship;
					border-color: $steamship;
					transition: all .3s;
					&:hover{
						background-color: darken($steamship, 10%);
					}
				}
			}
			&-visual-editor{
				position: sticky;
				top: 0;
				z-index: 9999;
				box-shadow: 0 1px 10px #ccc;
				.block-editor-block-contextual-toolbar{
					display: none;
				}
				&__post-title-wrapper{
					margin: 0;
					padding: 0.2em;
					h1{
						font-size: 1.2rem;
						margin: 0;
						max-width: 100%;
						@include media-breakpoint-down(sm) {
							font-size: 1rem;
						}
						@keyframes bikabika {
							0% {
								opacity: 0;
							}
							50%{
								opacity: 1;
							}
							100% {
								opacity: 0;
							}
						}
						[data-rich-text-placeholder]{
							animation: bikabika .5s infinite;
						}
					}
				}
			}
			&-editor__list-view-panel{
				min-width: 200px;
			}
		}
		.wp-block-post-content{
			display: none;
		}
		.postbox{
			&#スチームシップ用{
				.n2-fields{
					background-color: #efefef;
				}
			}
			.postbox-header{
				display: none;
			}
			.inside{
				padding: 0;
				margin: 0;
				::placeholder{
					color: #ccc;
				}
			}
		}
		.interface-interface-skeleton{
			top: 0;
			&__body{
				padding: 0;
			}
			&__sidebar,&__secondary-sidebar{
				.edit-post-sidebar__panel-tabs,
				.components-panel__body-title{
					display: none;
				}
			}
			&__notices{
				display: none;
			}
		}
	}
}