$breakpoint: (
	pc: "screen and (min-width: 576px)",
	sp: "screen and (max-width: 575.98px)",
);
@mixin mq($bp) {
	@media #{map-get($breakpoint, $bp)} {
		@content;
	}
}

.product-wrap {
	display: flex;
	justify-content: space-around;
	max-width: 75%;
	margin: 0 auto;
	@include mq(sp) {
		flex-direction: column-reverse;
		max-width: 96vw;
	}
	section {
		flex-shrink: 0;
	}
}
.product-sidebar {
	width: 20%;
	padding: 1% 4% 1% 1%;
	@include mq(sp) {
		width: 100%;
	}
}
.product-list-wrap {
	width: 90%;
	padding: 1%;
	@include mq(sp) {
		width: 100%;
	}
	.page-numbers {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
	}
}
.product-list {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	&::before,
	&::after {
		content: "";
		width: 24%;
		order: 1;
	}
	li {
		color: #2d8fdd;
		background: #fff;
		margin-bottom: 3px;
		line-height: 1.5;
		padding: 0.5rem;
		box-sizing: border-box;
		width: 24%;
		margin-bottom: 1.3%;
		box-shadow: 0 2px 0 0 #e5e5e5;
		border: 1px solid #e5e5e5;
		border-radius: 4px;
		@include mq(sp) {
			width: 49%;
			margin-bottom: 2%;
		}
		&.draft {
			border-left: solid 6px #888;
			background: #eee;
		}
		&.product-list-header {
			border: none;
			background: #2d8fdd;
			color: #fff;
			display: flex;
			justify-content: space-between;
		}
		a {
			text-decoration: none;
			color: #000;
			&:hover {
				opacity: 0.6;
			}
			figure {
				margin: 0;
				margin-left: auto;
				width: 100%;
				height: 150px;
				overflow: hidden;
				position: relative;
			}
			img {
				position: absolute;
				max-width: 140%;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}
		.product-list-header-item {
			width: 10%;
			&.long {
				width: 50%;
			}
		}
		.product-list-item {
			display: flex;
			flex-direction: column;
			margin: 1rem 0 0;
		}
		.product-list-price {
			color: #ad0003;
			font-weight: 700;
			margin: 0.2rem 0;
		}
		.ok-btn {
			display: block;
			width: 100%;
			background-color: crimson;
			color: #fff;
			&.confirmed {
				background-color: mediumseagreen;
			}
		}
	}
}
.n2-search-form {
	input[type="text"] {
		padding: 12px;
		width: 100%;
		&.min-price,
		&.max-price {
			width: 40%;
		}
	}
	.n2-search-price-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.n2-search-section {
		padding: 0 2%;
	}
}
.n2-checkbox-wrap {
	display: flex;
	font-size: 0.5rem;
	justify-content: space-between;
	input[type="checkbox"] {
		display: none;
		&:checked {
			+ label {
				background: #fc9db8;
				color: #fff;
				border-color: #fc9db8;
			}
		}
	}
	label {
		padding: 8px 0;
		border: 1px solid #ccc;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 0.5rem;
		border-radius: 50px;
		flex-wrap: wrap;
		width: 30%;
	}
}
.wrapper {
	width: 100%;
	max-width: 75vw;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	padding: 20px;
	margin-right: auto;
	margin-left: auto;

	@include mq(pc) {
		display: grid;
		grid-template:
			"mr1 return   return  return return      return      return" auto
			"mr1 img_box  img_box mr2    title       title       sub" auto
			"mr1 img_box  img_box mr2    amount      comp        sub" auto
			"mr1 img_box  img_box mr2    description description sub" auto
			"mr1 info     info    info   info        info        sub" minmax(
				1rem,
				auto
			);
		grid-template-columns: 10px repeat(2, 1fr) 0px repeat(2, 1fr) minmax(
				200px,
				1fr
			);
		grid-column-gap: 20px;
	}
	* {
		margin: 0;
		// padding: 0;
		line-height: 1.4;
		font-size: 1rem;
	}
	li {
		list-style: none;
	}
	table {
		/* display: block; */
		table-layout: fixed;
		/* width: calc(100% + 60px); */
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		/* transform: translateX(-30px); */
		height: fit-content;
		scroll-snap-type: x mandatory;
		background-color: #fff;
		tr :not(th:first-of-type) {
			min-width: 100px;
			white-space: break-spaces;
		}
		th {
			background-color: gray;
		}
		td:nth-child(odd) {
			text-align: center;
		}
		th,
		td {
			padding: 5px 10px;
			/* text-align: center; */
			font-size: 0.8rem;
			scroll-snap-align: start;
			scroll-margin-left: 34px;
			border: 1px solid #fff;
		}
		thead th {
			background-color: #444;
			color: #fff;
			font-size: 0.9rem;
		}
		tbody {
			tr {
				&:nth-child(odd) {
					background-color: #eee;
				}
				th:first-of-type {
					position: sticky;
					top: 0;
					left: 0;
					background-color: gray;
					color: #fff;
				}
			}
		}
	}
	.return{
		&-link{
			grid-area: return;
		}
		&-btn{
			width: fit-content;
			border: 1px solid;
			border-radius: 100px;
			padding: 10px 20px;
		}
	}
	.product-imgs {
		grid-area: img_box;
		display: flex;
		flex-direction: column;
		grid-row-gap: 10px;
	}
	.title {
		grid-area: title;
		font-size: 2rem;
		@include mq(pc) {
			font-size: 1.5rem;
			&::after {
				width: 100%;
				height: 1px;
				content: "";
				display: block;
				background-color: black;
			}
		}
	}
	.worker {
		grid-area: worker;
		font-weight: bold;
		display: flex;
		margin-top: -40px;
		@include mq(pc) {
			margin-top: 0;
			flex-direction: column;
		}
		@include mq(sp) {
			h2 {
				display: none;
				&::after {
					content: ":";
				}
			}
		}
		.material-symbols-outlined {
			font-size: 1rem;
		}
	}
	.main-img {
		grid-area: img_box;
	}
	&-img-list {
		grid-area: img_s;
		width: 100%;
		overflow: hidden;
	}
	.sub-imgs {
		display: flex;
		flex-direction: row;
		column-gap: 10px;
		justify-content: space-between;
		scroll-snap-type: x proximity;
		scroll-behavior: smooth;
		transform: translate(0, 0);
		padding: 0;
		margin: 0;
	}
	.sub-img {
		justify-self: center;
		width: calc(100% / 3 - 20px);
		scroll-snap-align: start;
	}
	.donation-amount {
		grid-area: amount;
		.price {
			margin-top: -6px;
		}
	}
	.price {
		text-indent: 3rem;
		font-size: 2rem;
	}
	.price::before {
		content: "\0a5";
	}
	& > .product-info {
		grid-area: info;
		h2 {
			text-align: center;
			@include mq(pc){
				display: none;
			}
		}
		.inner-info {
			display: none;
			@include mq(pc){
				display: grid;
				grid-template-columns: repeat(2,1fr);
				column-gap: 40px;
			}
			h3{
				grid-row: 1/2;
			}
		}
	}
	 h2:not(.mordal-btn) {
		font-size: 1.3rem;
		@include mq(sp) {
			&::before {
				content: "【";
			}
			&::after {
				content: "】";
			}
		}
	}
	> h2 {
		@include mq(pc) {
			background-color: #888;
			width: 100%;
			height: 100%;
			text-align: center;
			line-height: 2rem;
			grid-column: 1/-1;

			&.active {
				background-color: #eee;
			}
		}
		+ * {
			display: none;
			overflow: scroll;
			@include mq(pc) {
				display: table;
				overflow: auto;
			}
		}
		+ .active {
			grid-column: 1/-1;
			display: block;
		}
		&:nth-of-type(2) {
			@include mq(pc) {
				grid-area: description;
				align-self: flex-start;
				justify-self: left;
			}
		}
		&:nth-of-type(3) {
			@include mq(pc) {
				grid-area: application;
			}
		}
	}
	.portal-links {
		grid-area: p_links;
	}
	.related-links {
		grid-area: r_links;
	}
	.link-list {
		display: flex;
		padding: 0;
		@include mq(pc) {
			grid-row-gap: 10px;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}
		.link-btn {
			width: 40%;
			border: 2px solid #000;
			border-radius: 40px;
			text-align: center;
			font-weight: bold;
			transition: 0.2s;
			cursor: pointer;
			@include mq(pc) {
				width: 80%;
			}
			&.disable{
				background-color: #999;
				cursor: default;
			}
			&:not(.disable):hover {
				background-color: #000;
				a {
					color: #fff;
				}
			}
			&:nth-child(2n+1){
				margin-right: auto;
				@include mq(pc){
					margin: 0;
				}
			}
			> *{
				width: 100%;
				height: 100%;
				display: block;
				padding: 10px 0;
			}

			a {
				text-decoration: none;
			}
		}
	}
	.portal-scraper {
		display: block;
		text-align: center;
		margin-top: -20px;
		tbody tr:nth-child(2) td {
			vertical-align: top;
			text-align: left;
		}
		@include mq(pc) {
			grid-area: comp;
			margin-top: 0;
			display: flex;
			justify-content: center;
		}
	}
	
	.description {
		grid-area: description;
		line-height: 2;
		@include mq(sp) {
			display: none;
		}
		@include mq(pc) {
			display: block;
		}
	}
	.sub {
		grid-area: sub;
		@include mq(pc){
			border-left: 1px solid #000;
			padding: 20px;
			text-align: center;
		}
		.sticky{
			position: sticky;
			top: 40px;
			display: flex;
			flex-direction: column;
			row-gap: 40px;
			button{
				z-index: 1;
				width: 110%;
				transform: translateX(-5%);
				padding: 10px 20px;
				cursor: pointer;
			}

		}
		h2 {
			background-color: orange;
			padding: 10px 20px;
			color: whitesmoke;
			@include mq(pc){
				margin-bottom: 20px;
			}
		}
		.ok-btn {
			display: block;
			width: 100%;
			background-color: crimson;
			color: #fff;
			&.confirmed {
				background-color: mediumseagreen;
			}
		}
	}
	@include mq(pc) {
		& > .application {
			grid-area: tabi;
		}
	}
}
.mordal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0008;
	padding: 40px 25px;
	box-sizing: border-box;
	line-height: 1.7rem;
	&-box {
		position: relative;
		padding: 20px;
		border: 4px solid black;
		background: #fff;
		box-sizing: border-box;
		height: 100%;
		box-shadow: inset 0px 0px 10px 0px #0003;
		.close-btn {
			background: #000;
			height: 44px;
			position: absolute;
			right: 0;
			top: 0;
			width: 44px;
			transform: translate(35%, -35%);
			border-radius: 50%;
			border: 2px solid #fff;
			filter: drop-shadow(2px 4px 6px black);
			overflow: hidden;
			transition: 0.6s;
			transition-delay: 0.2s;
			transform-origin: 0px 300px;
			&::before,
			&::after {
				background-color: #fff;
				bottom: 50%;
				content: "";
				display: block;
				height: 5px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform-origin: center;
				transform: translate(-50%, -50%) rotate(45deg);
				transition: 0.5s transform;
				width: 75%;
			}
			&::after {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
			&.close {
				transform: translate(35%, -35%) rotate(-360deg);
				&::before {
					transform: translate(-50%, -50%) rotate(-135deg);
				}
				&::after {
					transform: translate(-50%, -50%) rotate(-225deg);
				}
			}
		}
	}
	&-wrapper {
		background: #fff;
		/* border: 4px solid #000; */
		box-sizing: border-box;
		max-height: 100%;
		overflow: auto;
		/* padding: 20px; */
		width: 100%;
		& > * {
			overflow-x: scroll;
			background-color: #fff;
		}
	}
	&-btn {
		text-align: center;
		border: 1px solid black;
		background: #fff;
		line-height: 3rem;
		width: 65%;
		margin: 0 auto;
		/* border-radius: 5px; */
		position: relative;
		font-weight: normal;
		cursor: pointer;
		transition: 0.2s;
		@include mq(pc) {
			margin: 0;
			align-self: center;
		}
		&:hover {
			background: #000;
			color: #fff;
			&::after {
				border-right-color: #fff;
				border-bottom-color: #fff;
			}
		}
		&::after {
			content: "";
			width: 10px;
			height: 10px;
			/* background: red; */
			display: block;
			position: absolute;
			bottom: 2px;
			right: 2px;
			border: 6px solid transparent;
			box-sizing: border-box;
			border-bottom-color: #000;
			border-right-color: #000;
		}
	}
	.is-block {
		display: block;
		tr:nth-child(2) td {
			text-align: left;
			vertical-align: top;
		}
	}
	table {
		/* display: block; */
		table-layout: fixed;
		/* width: calc(100% + 60px); */
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		/* transform: translateX(-30px); */
		height: fit-content;
		scroll-snap-type: x mandatory;
		background-color: #fff;
		border: 2px solid #555;
		tr {
			:not(th:first-of-type) {
				min-width: 100px;
				white-space: break-spaces;
			}
			:first-child {
				position: sticky;
				top: 0;
				left: 0;
				color: #fff;
				border-left: 1px;
			}
			:last-child {
				border-right: none;
			}
		}
		th {
			background-color: gray;
		}
		td:nth-child(odd) {
			text-align: center;
		}
		th,
		td {
			padding: 5px 10px;
			text-align: center;
			font-size: 0.8rem;
			scroll-snap-align: start;
			scroll-margin-left: 34px;
			border: 1px solid #fff;
			font-weight: 600;
		}
		thead {
			tr {
				&:first-of-type {
					th,
					td {
						border-top: none;
					}
				}
			}
			th {
				background-color: #444;
				color: #fff;
				font-size: 0.9rem;
			}
		}
		tbody {
			tr {
				&:last-of-type {
					th,
					td {
						border-bottom: none;
					}
				}
				&:nth-child(odd) {
					background-color: #eee;
				}
			}
		}
	}
	h3 {
		margin-top: 4rem;
		&::before {
			content: "■";
		}
	}
}
.front-move-wrap{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	input{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent;
		border: none;
		border-radius: 0;
		font: inherit;
		outline: none;
		border: 1px solid #333;
		color: #333;
	}
	input,a{
		display: inline-block;
		padding: 5px;
		text-decoration: none;
		border-radius: 4px;
	}
	a{
		border: 1px solid #333;
		background: #aaa;
		color: #fff;
	}
}
.search-code-list{
	width: 100%;
	padding: 12px;
	option{
		padding: 2px 0;
	}
}
.product-img-wrap{
	width: 100%;
	height: 150px;
	position: relative;
	background-color: #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}
.product-img-box{
	width: 100%;
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
}