$prefix: 'n2-postlist';

// コンパイルテスト用に書いてみてるだけ
.#{$prefix} {
	&-imgicon {
		width: 25px;
		height: 25px;
		object-fit: cover;
		cursor: pointer;
		transition: .2s;
		&:hover {
			transform:scale(5,5);
		}
	}
}