/* Bootstrap
	変数をいじりたい場合はこんな感じ
	=====
	$primary: #ccc;
	@use "bootstrap/scss/bootstrap.scss";
	=====
	cssで@useした方がコンパイルが爆速
*/
// @use "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
$steamship: #1a4899;
@import "bootstrap/scss/bootstrap.scss";
#n2-history{
	.table{
		// table-layout: fixed;
		th{
			white-space: nowrap;
		}
	}
	&-chechout-revision{
		min-width: 80%;
		max-height: 80%;
		&::backdrop{
			background-color: rgba(0,0,0,.3);
		}
		&-close{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 3em;
			width: 3em;
			cursor: pointer;
			&:hover{
				background-color: rgba(255,255,255,.1);
			}
		}
	}
}